@namespace BootstrapBlazor.Components

@if (ButtonNewFile != null)
{
    <button onclick="@NewFile" class="btn btn-primary">@ButtonNewFile</button>
}
@if (ButtonGetFileText != null)
{
    <button onclick="@GetFileText" class="btn btn-primary">@ButtonGetFileText</button>
}
@if (ButtonGetFile != null)
{
    <button onclick="@GetFileStream" class="btn btn-primary">@ButtonGetFile</button>
}
@if (ButtonGetDir != null)
{
    <button onclick="@GetDir" class="btn btn-primary">@ButtonGetDir</button>
}
@if (FileHandle != null)
{
    <button onclick="@VerifyPermission" class="btn btn-primary">@ButtonVerifyPermission</button>
    @if (ButtonSaveFile != null)
    {
        <textarea style="width:100%;height:calc(100% - 6px);" onchange="@HandleOnChange" value="@FileText"></textarea>
        <button onclick="@SaveFile" class="btn btn-primary">@ButtonSaveFile</button>
    }
}
@if (Debug)
{
    <pre>
    @FileText
    @if (OnInfo == null) @msg
    </pre>
}